<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <context-param>
        <param-name>javax.faces.PROJECT_STAGE</param-name>
        <param-value>Production</param-value>
    </context-param>
    <!--context-param>
        <param-name>org.richfaces.CONTROL_SKINNING</param-name>
        <param-value>enable</param-value>
    </context-param>
    <context-param>
        <param-name>org.richfaces.skin</param-name>
        <param-value>blueSky</param-value>
    </context-param-->
    <!--context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>bluesky</param-value>
    </context-param-->
    <context-param>
        <param-name>contextConfigLocation</param-name>
        <param-value>/WEB-INF/applicationContext-security.xml</param-value>
    </context-param>
    <!--context-param>
        <param-name>primefaces.THEME</param-name>
        <param-value>aristo</param-value>
    </context-param-->
    <!--filter>
        <filter-name>ItsAuthenticationFilter</filter-name>
        <filter-class>its.gws.filter.ItsAuthenticationFilter</filter-class>
        <init-param>
            <param-name>loginPage</param-name>
            <param-value>/itsgws</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>ItsAuthenticationFilter</filter-name>
        <url-pattern>/pages/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>ItsAuthenticationFilter</filter-name>
        <url-pattern>/faces/pages/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping-->
    <listener>
        <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    <filter>
        <filter-name>springSecurityFilterChain</filter-name>
        <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>springSecurityFilterChain</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>REQUEST</dispatcher>
    </filter-mapping>
    <!--filter>
        <filter-name>Pretty Filter</filter-name>
        <filter-class>com.ocpsoft.pretty.PrettyFilter</filter-class>
    </filter>

    <filter-mapping> 
        <filter-name>Pretty Filter</filter-name> 
        <url-pattern>/*</url-pattern> 
        <dispatcher>FORWARD</dispatcher> 
        <dispatcher>REQUEST</dispatcher> 
        <dispatcher>ERROR</dispatcher>
    </filter-mapping-->
    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ManagerListServlet</servlet-name>
        <servlet-class>usermodule.controller.ManagerListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CurrencyListServlet</servlet-name>
        <servlet-class>masterdatamodule.controller.CurrencyListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CountryListServlet</servlet-name>
        <servlet-class>masterdatamodule.controller.CountryListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ITSLanguageListServlet</servlet-name>
        <servlet-class>masterdatamodule.controller.ITSLanguageListServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.jsf</url-pattern>
        <url-pattern>/faces/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManagerListServlet</servlet-name>
        <url-pattern>/pages/ManagerListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CurrencyListServlet</servlet-name>
        <url-pattern>/pages/CurrencyListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CountryListServlet</servlet-name>
        <url-pattern>/pages/CountryListServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ITSLanguageListServlet</servlet-name>
        <url-pattern>/pages/ITSLanguageListServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login_1.jsf</welcome-file>
    </welcome-file-list>
</web-app>
