/*
#top {
    position: relative;
    background-color: #036fab;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    position: relative; 
    background-color: #c2dfef;
    padding: 5px;
    margin: 10px 0px 0px 0px;
}

#left {
    float: left;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: #dddddd;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
    color: white;
    font-weight : bold;
    text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
    color: black;
    font-weight : bold;
    text-decoration : underline;
}
*/

/*ITS Layout*/

.main-container {
    width: 1024px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
    background-color:#CFE0F2;
}

.content-container {
    background-color:#CFE0F2;
    width: 1024px;
    height: 712px;
}


.content-container-blocked {
    position: absolute; 
    width: 1024px;
    height: 712px;
    z-index: -1;
    opacity: 0.5; 
    background: #3366cc;
}

/*.content-container-blocked {
    background-color:#66b366;
    opacity: 0.5;
    z-index: 10;
}*/

.top-section {
    background-color:#CFE0F2;
}

.top-section h1 {
    margin: 0;
    padding-top: 15px;
}

.top-section-inner{
    margin: 0px; 
}


.main-bar-blocked {
    height: 63px;
    width: 1024px;
    z-index: -10;
    opacity: 0.5; 
    background: #3366cc;
    position: absolute;
}

.main-bar {
    top: 0;
    left: 0;
}


.menu-bar {
}

.tool-bar{
    clear:both;
    height:37px;
    width:100%;
    background-color:#BAC8D8;
    background-repeat:repeat-x; 
    font-family:Calibri;
}

.window-header { 
    background-color:#CEE1F4; 
    background-repeat:repeat-x; 
    font-family: "Segoe UI"; 
    height:40px; 
    padding-top:5px; 
    padding-left:5px;  
}

.content-title-outer {
    overflow: auto;
}

.content-title {
    font-family:Calibri;
    float: left;
    clear:left;
    font-weight:bold;
    padding-left:30px;
    padding-top:9px;
    padding-bottom:9px;
    font-size:20px;
    /*text-transform:uppercase;*/
    background-image:  url(../images/cont_title_gr_bg_1024x45.PNG);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    width:993px;
    /*background-color:#CFE0F2;*/
    /*height: 27px;*/
}

.content-title-blocked {
    font-family:Calibri;
    float: left;
    clear:left;
    font-weight:bold;
    padding-left:30px;
    padding-top:9px;
    padding-bottom:9px;
    font-size:20px;
    /*text-transform:uppercase;*/
    background-image:  url(../images/cont_title_gr_bg_1024.PNG);
    background-repeat: no-repeat;
    background-position: left;
    margin-top: 10px;
    /*margin-bottom: 10px;*/
    width:988px;

}

.empty-content-title {
    width:1024px;
    background-color:#CFE0F2;
    height: 55px;
}

.window-footer{
    clear: left;
    width: 100%;
    background-color:#CFE0F2;
    height:0px;
}

.content-wrapper {
    float: left;
    width: 944px;
    height: 576px;
    margin: 20px;
    padding: 20px;
    background: #EEF3Fa;
    border: solid 1px #707070;
}

.content-wrapper-blocked {
    float: left;
    width: 944px;
    height: 616px;
    margin: 20px;
    padding: 20px;
    background: #66b366;
    border: solid 1px #707070;
}

.content-wrapper-tab {
    float: left;
    width: 944px;
    height: 616px;
    margin: 20px;
    /*padding: 20px;*/
    background: #EEF3Fa;
    border: solid 1px #707070;
}


.empty-content-wrapper{
    /*float: top;*/
    width: 1024px;
    height: 656px;
    background: #CFE0F2;
}

.details-view-content-wrapper {
    float: left;
    position: absolute;
    width: 984px;
    height: 616px;
    /*margin: 20px;*/
        padding: 20px;
    /*    background: #EEF3Fa;*/
    background: #CFE0F2;
    /*    border: solid 1px #707070;*/
}


.details-view-content-wrapper-blocked {
    float: left;
    width: 984px;
    height: 656px;
    margin: 20px;
    /*    padding: 20px;*/
    /*    background: #EEF3Fa;*/
    background: #66b366;
    /*    border: solid 1px #707070;*/
}

.left-part {
    float: left;
    width: 16%;
    height: 100%;
    border: solid 1px #707070;
}



.center-part {
    float: right;
    width: 82%;
    height: 100%;
}



.details-view-left-part {
    float: left;
    width: 200px;
    height: 616px;
    /*    border: solid 1px #707070;*/
}

.details-view-center-part {
    float: left;
    position: absolute;
    left: 220px;
    width: 742px;
    height: 594px;
    background-color: #F5F9FE;
    border: 1px solid #898C95;
    padding-left: 20px;
    padding-top: 20px;
    z-index: 23;
    /*border: solid 1px #707070;*/
}

.masterdata-left-part {
    float: left;
    width: 151px;
    height: 100%;
    border: solid 1px #707070;
    margin-right: 20px;
    background: white;
    z-index: 1;
}

.masterdata-center-part {
    /*float: right;*/
    float: left;
    width: 770px;
    
    /*width: 600px;*/
    height: 100%;
    /*height: 576px;*/
    z-index: 23;
    /*position: absolute;
    left: 200px;*/
}

.masterdata-main-content {
    top: 0; 
    left: 0; 
    position: absolute;
    overflow: auto;
    height: 100%; 
    width: 100%;  
    z-index: 1;
    background: #eef3fa;
}

.masterdata-main-content-blocked {
    position: absolute; 
    top: 0; 
    left: 0; 
    height: 100%; 
    width: 100%; 
    background: #3366cc; 
    opacity: 0.5;
    z-index: -1;
}



.masterdata-details-left-part {
    float: left;
    width: 610px;
    height: 95%;
}

.masterdata-details-right-part {
    float: left;
    width: 120px;
    height: 95%;
}

.details-view-info-part {
    float: top;
    margin-top: 0px;
    width: 99%;
    /*height: 100px;*/
    overflow: auto;
    margin-bottom: 20px;
    /*    border: solid 1px #707070;*/
}

.details-view-functions-part {
    float: top;
    width: 99%;
    /*height: 100px;*/
    margin-top: 20px;
    overflow: auto;

    /*    border: solid 1px #707070;*/
}

.info-label1 { 
    padding-bottom:3px; 
    padding-top:6px; 
    color:#2F33BB;
    font-weight: bold;
}

.info-label2 { 
    padding-bottom:0px; 
    padding-top:0px; 
    padding-left:10px;
}

.blockOverlay {
    z-index: 1 !important;
}
