body{
    margin:0;
    padding:0;
    margin-top:5px;
    margin-bottom:5px;
    line-height: 1.5em;
    background-color:#003366;
}

b {
    font-size: 110%;
}

em {
    color: red;
}


.main-container{
    width: 1024px; /*Width of main container*/
    margin: 0 auto; /*Center container on page*/
}

.top-section{
    background: #C1D7EF;
    /*Height of top section*/
    height:88px;
}

.top-section-inner{
    padding-top:35px;
    text-align:center;
    font-family:Tahoma, Geneva, sans-serif;
    font-size:16px;
    font-weight:bold;
}
.bottom-section {
    clear: left;
    width: 100%;
    height: 88px;
    background-color:#C1D7EF;
}

.bottom-section-inner{
    padding-top: 35px;
    padding-right:20px;
    font-family:Tahoma, Geneva, sans-serif;
    text-align:right;
    font-size:12px;
    font-weight:bold;
}

.center-section{
    float: left;
    width: 1024px; /*Width of left column*/
    background: #E8EEF7;
}

.center-section-inner{
    margin: 10px;
}

.login-section { 
    width:398px;
    float:left; 
    margin-top:232px; 
    margin-bottom:232px; 
    margin-left:300px; 
    margin-right:304px; 
    background-color:#F1F5F9; 
    border:1px solid #999; 
    padding-top:40px; 
    padding-bottom:40px;
}

.component-contrainer { 
    float:left;
}

.left-component{ 
    float:left; 
    padding-top: 5px; 
    width:86px; 
    font-family:Tahoma, Geneva, sans-serif; 
    font-size:11px; 
    height:22px;  
    margin-left:44px; 
}

.right-component{ 
    float:left; 
    padding-top:3px; 
    padding-bottom: 3px; 
    font-family:Tahoma, Geneva, sans-serif;
    font-size:11px; width:229px;
}

/*.input{ 
    width:229px; 
    font-family:Tahoma, Geneva, sans-serif; 
    font-size:11px; 
    height:20px; 
    padding-left:3px;
    -moz-border-radius: 3px;
    border-radius:3px;
    -webkit-border-radius: 3px;
    background-color: #dedede;
    background: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,#ffffff), color-stop(1.0, #dedede));
    border: solid 1px #BED6F8;
}

.button{
    font-family:Tahoma, Geneva, sans-serif; 
    font-size:11px; 
    width:80px; 
    -moz-border-radius: 5px; 
    height: 24px; 
    padding-bottom: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius:3px;
    background-color: #dedede;
    background: -moz-linear-gradient(top, #ffffff, #eaeaea);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.0,#ffffff), color-stop(1.0, #dedede));
    border: solid 1px #BED6F8;
}

.input:focus {  
    border: solid 1px #C00;
}

.button:focus {
    border: solid 1px #C00;
}*/

.button-container { 
    float:left; 
    margin-left:227px; 
    padding-top:3px; 
    padding-bottom:3px;
}


