/* 
    Document   : masterData
    Created on : Jan 17, 2012, 10:05:49 AM
    Author     : tds
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

table.layout-grid a.disabled, table.layout-grid a.disabled:hover {
    color: #aaa;
    cursor: default;
    text-decoration: line-through;
}

.layout-grid {
    width: 100%;
}

.layout-grid td {
    vertical-align: top;
}

.layout-grid td.left-nav {
    width: 170px;
}

.layout-grid td.normal {
    border-left: 1px solid #eee;
    /*padding: 20px 24px;*/
    font-family: "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
}


.demos-nav, 
.left-nav .demos-nav dt, 
.left-nav .demos-nav dd, 
.left-nav .demos-nav ul, 
.left-nav .demos-nav li {
    margin: 0;
    padding: 0;
    padding-right: 10px !important;
}

.left-nav .demos-nav {
    float: left;
    width: 130px;
    /*font-size: 0.9em;*/
    /*padding:14px 23px 8px 22px;*/
    padding-left: 10px;
    padding-top: -10px;
}

.left-nav .demos-nav dt,
.left-nav .demos-nav h4 {
    margin: 0;
    padding: 0;
    font: normal 1.0em "Trebuchet MS", "Helvetica", "Arial",  "Verdana", "sans-serif";
    color: #e87b10;
}

.left-nav .demos-nav dt,
.left-nav .demos-nav h4 {
    margin-top: 5px;
    margin-bottom: 0;
    padding-left: 0px;
    padding-bottom:1px;
    line-height: 1em;
    font-size: 1em;
    border-bottom: 1px solid #F4F4F4;
}

.left-nav .demos-nav dd a,
.left-nav .demos-nav li a {
    border-bottom: 1px solid #F4F4F4;
    display:block;
    padding: 2px 3px 2px 8px;
    /*font-size: 90%;*/
    text-decoration: none;
    color: #555 ;
    margin:0px 0;
    height:13px;
    width: 120px;
}

.left-nav .demos-nav dd a:hover,
.left-nav .demos-nav dd a:focus,
.left-nav .demos-nav li a:hover,
.left-nav .demos-nav li a:focus {
    background: #f3f3f3;
    color:#000;
    -moz-border-radius: 3px; -webkit-border-radius: 3px;
}
.demos-nav dd a.selected {
    background: #555;
    color:#ffffff;
    -moz-border-radius: 3px; -webkit-border-radius: 3px;
}


.demos-nav a:link,
.demos-nav a:visited,
#demo-notes a:link,
#demo-notes a:visited,
#demo-source a:link,
#demo-source a:visited,
#widget-docs a:link,
#widget-docs a:visited { 
    color:#1b75bb; text-decoration:none; 
}


